body > * {
    border: 2px solid black;
    text-align: center;
}
        img {
            border: 2px solid black;
        }
        .first-row, .second-row, .third-row, .container1, .container2 {
            border: 2px solid black; 
            height: 50px;
        }
@media (max-width: 480px) {
    body {
        display: grid;
        grid-template-columns: 1fr 440 1fr;
        grid-template-areas:
        ". header ."
        ". hero ."
        ". services ."
        ". freelance ."
        ". testimonials ."
        ". footer ."
        ". nav .";
        row-gap: 20px;
    }
        header {
            width: 100%;
            grid-area: header;
            display: grid;
            grid-template-columns: 1fr 40px 270px 1fr;
            grid-template-areas:
            ". img hh ."
        }
            .hh {
                grid-area: hh;
            }
            img {
                width: 100%;
                float: left;
                grid-area: img;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        .hero {
            width: 100%;
            grid-area: hero;
        }
        .services {
            width: 100%;
            grid-area: services;
            display: grid;
            grid-template-columns: 1fr 300px 1fr;
            grid-template-areas:
            "hs hs hs"
            ". fr ."
            ". sr ."
            ". tr .";
            row-gap: 20px;
        }
            .hs {
                grid-area: hs;
            }
            .first-row {
                width: 100%;
                grid-area: fr;
            }
            .second-row {
                width: 100%;
                grid-area: sr;
            }
            .third-row {
                width: 100%;
                grid-area: tr;
                margin-bottom: 20px;
            }
        .freelance {
            width: 100%;
            grid-area: freelance;
        }
        .testimonials {
            width: 100%;
            grid-area: testimonials;
            display: grid;
            grid-template-columns: 1fr 300px 1fr;
            grid-template-areas:
            ". ht ."
            ". container1 ."
            ". container2 .";
            row-gap: 20px;
            
        }
            .ht {
                grid-area: ht;
            }
            .container1 {
                width: 100%;
                grid-area: container1;
            }
            .container2 {
                width: 100%;
                grid-area: container2;
                margin-bottom: 20px;
            }
        footer {
            width: 100%;
            grid-area: footer;
        }
        .nav {
            width: 100%;
            grid-area: nav;
        }  
}